.chat{
    flex:2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height:100%;
    .top{
        border-bottom: 1px solid #dddddd35;
    }
    .center{
        .message{
            max-width: 70%;
            &.own{
                align-self: flex-end;
                .texts{
                    p{
                        background-color: #5183fe;
                    }
            }
            }
            .texts{
                flex:1;
                display: flex;
                flex-direction: column;
                gap:5px;
                p{
                padding:20px;
                background-color: rgba(17,25,40,0.3);
                border-radius: 10px;
                }
                span{
                    font-size: 13px;
                }
            }
        }
    }
    .bottom{
        border-top: 1px solid #dddddd35;
        input{
            background-color: rgba(17,25,40,0.5);
            &:disabled{
                cursor:not-allowed;
            }
        }
        .sendButton{
            background-color: #5183fe;
            color:white;
            padding: 10px 20px;
            border:none;
            border-radius: 5px;
            cursor: pointer;
            &:disabled{
                background-color: #5182feb4;
                cursor:not-allowed;
            }
        }
        .emoji{
            position:relative;
            .picker{
                position:absolute;
                bottom:50px;
                left:0;
            }
        }
    }
}